In [17]:
# Ejercicio 1
lanzadas = input('INGRESE LA CANTIDAD DE VECES QUE LANZA LA MONEDA')
muestral = 2 ** int(lanzadas)
print('El Tamaño Muestral es de:', muestral)

El Tamaño Muestral es de: 1024

In [18]:
# Ejercicio 2
pasajeros = 10
revisados = 3


def factorial(numero:int):
    resultado = 1
    for i in range(1,numero+1):
        resultado *= i
    return resultado


tamaño_m = factorial(pasajeros) / (factorial(revisados) * factorial(pasajeros - revisados))
print('El Tamaño Muestral es de:', tamaño_m)

El Tamaño Muestral es de: 120.0

In [19]:
# Ejercicio 3
import pandas as pd
import numpy as np


dicc_vialidad = {'Si':[148,162,296,252],
                 'No':[52,54,74,48]}
df_vialidad = pd.DataFrame(dicc_vialidad, index=['Norte','Noreste','Sur','Centro'])

total_si = df_vialidad.loc[:,'Si'].sum()
total_no = df_vialidad.loc[:,'No'].sum()

df_vialidad.loc['Total'] = [total_si, total_no]

df_vialidad

          Si   No
Norte    148   52
Noreste  162   54
Sur      296   74
Centro   252   48
Total    858  228

In [20]:
total_encuesta = df_vialidad.loc['Total'].sum()
# print(total_encuesta)

df_tabla_contingencia = df_vialidad / total_encuesta

In [21]:
df_tabla_contingencia.loc[:,'Subtotal'] = df_tabla_contingencia.sum(axis=1)
df_tabla_contingencia

               Si        No  Subtotal
Norte    0.136280  0.047882  0.184162
Noreste  0.149171  0.049724  0.198895
Sur      0.272560  0.068140  0.340700
Centro   0.232044  0.044199  0.276243
Total    0.790055  0.209945  1.000000

In [30]:
# Punto d: Estará satisfecho el porcentaje de personas que usan cinturon es de 79%
# Punto e
df_tabla_contingencia.loc[:,'Si por region'] = df_tabla_contingencia.loc[:,'Si'] / df_tabla_contingencia.loc[:,'Subtotal']
df_tabla_contingencia

               Si        No  Subtotal  Si por region
Norte    0.136280  0.047882  0.184162       0.740000
Noreste  0.149171  0.049724  0.198895       0.750000
Sur      0.272560  0.068140  0.340700       0.800000
Centro   0.232044  0.044199  0.276243       0.840000
Total    0.790055  0.209945  1.000000       0.790055

In [ ]:
# Se usa más el cinturón en la región Centro, comparando dentro de cada región

In [3]:
# Ejercicio 4
print(26/52)
print(26/52)
print(13/52) #para cada palo de la baraja

#Ejercicio 5
print(8/52) #4 sietes más 4 ochos

0.5
0.5
0.25
0.15384615384615385

In [4]:
# Ejercicio 6

print(1/32)

0.03125

In [6]:
# Ejercicio 7
E1 = 20
E2 = 17
E3 = 13

print('Probabilidad E1:', E1/sum((E1, E2, E3)))
print('Probabilidad E2:', E2/sum((E1, E2, E3)))
print('Probabilidad E3:', E3/sum((E1, E2, E3)))

Probabilidad E1: 0.4
Probabilidad E2: 0.34
Probabilidad E3: 0.26

DESAFÍO COMPLEMENTARIO

In [11]:
# Nº1

print('a)', (6/15) * (7/15))
print('b)', (6/15) ** 2)

a) 0.18666666666666668
b) 0.16000000000000003

In [14]:
# Nº2
M1 = 0.2
M2 = 0.5
M3 = 0.6

print('a)', (M1+M2+M3)- (M1*M2*M3) - (M1*M2) - (M1*M3) - (M2*M3))
print('b)', (M1*M2*M3))

a) 0.7199999999999995
b) 0.06